package ${target.mapperPackageName};

import $target.fullClassName;

import java.util.List;
import java.util.Map;

/**
 * @author $configParser.authorInfo
 */
public interface ${target.className}Mapper {
    Long insert(${target.className} ${target.lowerStartName});

    ${target.className} getById(Long id);

    Integer update(${target.className} ${target.lowerStartName});

    List<${target.className}> list(${target.className} condition);

    List<${target.className}> page(Map params);
}
