package ${target.mapperPackageName};

import $target.fullClassName;
import ${target.queryPackageName}.${target.className}Query;
import java.util.List;
import java.util.Map;

/**
 * @author $configParser.authorInfo
 */
public interface ${target.className}Mapper {
    Long insert(${target.className} ${target.lowerStartName});

    ${target.className} getById(Long id);

    Integer update(${target.className} ${target.lowerStartName});

    Integer countByQuery(${target.className}Query query);

    List<${target.className}> queryByPagination(${target.className}Query query);

    List<${target.className}> list(${target.className} condition);

}
