package $target.daoPackageName;

import $target.fullClassName;
import ${target.queryPackageName}.${target.className}Query;
import java.util.List;
import java.util.Map;

/**
 * @author $configParser.authorInfo
 */
public interface ${target.className}Dao {

    Long insert(${target.className} ${target.lowerStartName});

    ${target.className} getById(Long id);

    Integer update(${target.className} ${target.lowerStartName});

    List<${target.className}> list(${target.className} condition);

    ${target.className}Query pageByPagination(${target.className}Query query);
}
