package ${target.servicePackageName}.impl;

import com.tony.billing.service.${target.className}Service;
import org.springframework.stereotype.Service;
/**
* @author $configParser.authorInfo
*/
@Service
public class ${target.className}ServiceImpl implements ${target.className}Service {

}
